@import "tailwindcss";
@plugin "daisyui";
*{
    font-family: "Poppins", sans-serif !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}